{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"]
      },
        "useBuiltIns": true
    }]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import", "transform-object-rest-spread"]
}
