extends layouts/default
block vars
  - title = "Template Listing"
  - bodyClass = 'hello-world'

block content
  .uk-container
    ol
      each item in templatelist
        if item.indexOf('index') < 0
          li
            - var filename = item.substr(0, (item.length - 4)) + '.html'
            +link(item, './'+filename, '') #{filename}

