extends layouts/default
block vars
  - title = "This is the index"
  - bodyClass = 'hello-world'

block content
  .uk-container

    h1 Woah.
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, quo?
    h2 Accordion
    +accordion(base.cards)

    h2 Cards
    span.uk-margin-small-right(uk-icon='check')


    .uk-grid-match(class='uk-child-width-1-2@s', uk-grid)
      each card in base.cards
        div
          .uk-card.uk-card-default.uk-card-hover.uk-card-body
            h3.uk-card-title=card.title
            p=card.desc

    a(style={color: 'red', background: 'green'}) Inline style

    +link('this is title', '#', 'This is a link')

    - var msg = "not my inside voice";
    p This is #{msg.toUpperCase()}
