extends layouts/listing
block vars
  - title = "Template Listing"

block content
  .uk-container
    h1 Templates Listing
    ol
      each item in templatelist
        if item.indexOf('index') < 0
          li
            - var filename = item.substr(0, (item.length - 4)) + '.html'
            +link(item, './pages/'+filename, '')(target="_blank") #{filename}

