// @import "uikit/src/scss/variables.scss";
// @import "uikit/src/scss/mixins.scss";
// @import "uikit/src/scss/uikit.scss";

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-test1 {
  background: url("#calendar") no-repeat;
}
