.uk-card.uk-card-default.uk-card-body(style='margin-bottom: 200px; z-index: 980;', uk-sticky='show-on-up: true; animation: uk-animation-slide-top; bottom: #bottom')
  header
    nav.uk-navbar-container(uk-navbar='')
    .uk-navbar-left
      ul.uk-navbar-nav
        li.uk-active
          a(href='#') Active
        li
          a(href='#') Parent
          .uk-navbar-dropdown
            ul.uk-nav.uk-navbar-dropdown-nav
              li.uk-active
                a(href='#') Active
              li
                a(href='#') Item
              li
                a(href='#') Item
        li
          a(href='#') Item
