mixin accordion(data)
  ul.com-accordion(data-component='accordion')
    each item in data
      li
        - if (typeof(item.title) === 'undefined') item.title = 'Title of link'
        a.uk-accordion-title=item.title
        .uk-accordion-content
          - if (typeof(item.desc) === 'undefined') item.desc = 'Title of link'
          p=item.desc
