html {
  box-sizing: border-box;
}

body {
  margin: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: $primary-color;
}

.hidden {
  display: none;
}

.icon {
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: text-top;
}
